@model IEnumerable<GiftType>
@{
    ViewData["Title"] = "Index - Gift Type";
}

<div class="row border">
    <div class="row m-2 mt-4">
        <h2 class="col-md-6">
            <i class="fa-solid fa-earth-americas"></i>
            Gift Type
        </h2>
        <div class="col-md-6 text-end">
            <a class="btn btn-danger" asp-controller="GiftType" asp-action="Create">
                <i class="fa-solid fa-plus"></i>
                Add Gift Type
            </a>
        </div>
    </div>
    <div class="row m-2">
        <table class="table table-hover" id="table">
            <thead class="header2 text-light">
                <th>Name</th>
                <th>Modification Date</th>
                <th>Creation Date</th>
                <th class="text-center">Edit</th>
                <th class="text-center">Delete</th>
            </thead>
            <tbody>
                @foreach (var giftType in @Model)
                {
                    <tr>
                        <td>@giftType.GiftTypeName</td>
                        <td>@giftType.ModificationDate</td>
                        <td>@giftType.CreationDate</td>
                        <td class="text-center">
                            <a class="btn btn-gradient" asp-controller="GiftType" asp-action="Update" asp-route-Id="@giftType.GiftTypeID">
                                <i class="fa-solid fa-pen-to-square"></i>
                            </a>
                        </td>
                        <td class="text-center">
                            <a class="btn btn-danger" asp-controller="GiftType" asp-action="Delete" asp-route-Id="@giftType.GiftTypeID">
                                <i class="fa-solid fa-trash-can"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>